/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.head {
  margin: 0 auto;
}
.head h1 {
  font-size: 3rem;
  text-align: center;
  padding: 1rem;
  color: #0078b6;
}
@media (min-width: 1000px) {
  .head h1 {
    border: 2px solid #0078b6;
    margin-top: 1rem;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 12px;
  }
}
button {
  justify-self: center;
}
.carousel {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.carousel .nav {
  align-self: center;
  display: flex;
}
.carousel .nav .left-button,
.carousel .nav .right-button {
  font-size: 40px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
}
.carousel .nav .back {
  border-radius: 12px;
  background-color: #0078b6;
  color: white;
  padding: 1rem;
  cursor: pointer;
  text-decoration: none;
}
.carousel .dev1 {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
@media (min-width: 1000px) {
  .carousel .dev1 p {
    margin-left: 25%;
    margin-right: 25%;
  }
}
.carousel .dev1 img {
  width: 50%;
  height: 50%;
  margin-right: 1rem;
  border-radius: 50%;
}
.carousel .dev1 .devhead {
  display: flex;
  flex-direction: row;
}
.carousel .dev1 .devhead div {
  align-self: center;
}
.carousel .dev1 .devhead h1 {
  font-size: 1.5rem;
  text-align: center;
}
.carousel .dev1 .devhead h2 {
  font-size: 1rem;
  text-align: center;
}
.carousel .dev1 .social .fa {
  display: inline-block;
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.carousel .dev1 .social .fa-facebook {
  background: #3B5998;
  color: white;
}
.carousel .dev1 .social .fa-twitter {
  background: #55ACEE;
  color: white;
}
.carousel .dev1 .social .fa-linkedin {
  background: #0078b6;
  color: white;
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Quicksand Light'), local('Quicksand-Light'), url(https://fonts.gstatic.com/s/quicksand/v9/6xKodSZaM9iE8KbpRA_pgHYYT8L6.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Quicksand Medium'), local('Quicksand-Medium'), url(https://fonts.gstatic.com/s/quicksand/v9/6xKodSZaM9iE8KbpRA_p2HcYT8L6.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
p {
  font-family: 'Quicksand', sans-serif;
}
h2 {
  font-size: 2rem;
}
p {
  font-size: 1.2rem;
  margin-top: 1em;
  margin-bottom: 1em;
}
@media only screen and (max-width: 800px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
header .topnav {
  margin-top: 30px;
}
@media only screen and (max-width: 800px) {
  header .topnav {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
}
header .topnav .contButtons {
  justify-content: space-around;
  display: flex;
  align-items: center;
  margin-top: 40px;
}
header .topnav .contButtons img {
  width: 100%;
}
@media only screen and (max-width: 800px) {
  header .topnav .contButtons img {
    float: left;
    height: auto;
  }
}
header .topnav .contButtons button {
  background-color: #008eb6;
  /* Green */
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
  color: #008eb6;
  border-color: #008eb6;
  background-color: #FFFFFF;
  width: 265px;
  height: 3.8rem;
}
header .topnav .contButtons button:hover {
  background-color: #008eb6;
  color: #FFFFFF;
  border-color: #FFFFFF;
}
@media only screen and (max-width: 800px) {
  header .topnav .contButtons button {
    display: none;
  }
}
header .topnav #myLinks {
  margin-top: 25px;
  text-align: center;
}
header .topnav #myLinks a {
  font-size: 35px;
  text-decoration: none;
  padding: 14px 16px;
  color: #008eb6;
}
header .topnav #myLinks a:hover {
  background-color: #008eb6;
  color: white;
}
@media only screen and (max-width: 800px) {
  header .topnav #myLinks a {
    color: #008eb6;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 35px;
    display: block;
  }
}
@media only screen and (max-width: 800px) {
  header .topnav #myLinks {
    height: 0;
    margin-top: 0 auto;
    transition: all 1s;
  }
  header .topnav #myLinks.active {
    height: 300px;
    transition: all 1s;
  }
}
header .topnav .icon {
  display: none;
}
@media only screen and (max-width: 800px) {
  header .topnav .icon {
    font-size: 2rem;
    padding: 14px 16px;
    color: #008eb6;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}
header .contButtons {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 40px;
}
@media only screen and (max-width: 800px) {
  header .contButtons {
    flex-direction: column;
    align-items: center;
  }
}
header .contButtons p {
  margin-top: 0.5rem;
  color: #008eb6;
}
header .contButtons h1 {
  color: red;
  text-align: center;
  padding-right: 40px;
  font-size: 2.5rem;
}
@media only screen and (max-width: 800px) {
  header .contButtons h1 {
    padding-right: 0px;
    margin: 2rem;
  }
}
header .contButtons button {
  background-color: #008eb6;
  /* Green */
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
  width: 265px;
  height: 3.8rem;
  border-radius: 12px;
}
header .contButtons button:hover {
  background-color: #FFFFFF;
  color: #008eb6;
  border-color: #008eb6;
}
.content {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 800px) {
  .content {
    width: 90%;
    margin: 75px auto;
    color: #14363f;
    text-align: center;
  }
}
.content h2 {
  background: rgba(0, 142, 182, 0.5);
  padding: 34px 10px;
  border-radius: 10px;
  margin: 40px 10px;
  color: white;
  text-align: center;
}
.content h2:hover {
  background-color: #008eb6;
}
.features .featuresBox {
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 800px) {
  .features .featuresBox {
    flex-direction: column;
    align-items: center;
  }
}
.features .featuresBox .y {
  width: 50%;
  padding: 34px 56px;
  margin-bottom: 100px;
}
@media only screen and (max-width: 800px) {
  .features .featuresBox .y {
    width: 100%;
  }
}
.features .featuresBox h3 {
  margin-bottom: 1.5rem;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .features img {
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
}
.test {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.test .textBox {
  border: 2px solid #008eb6;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}
@media only screen and (max-width: 800px) {
  .test .textBox p {
    margin-bottom: 70px;
  }
}
.test .textBox img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}
@media only screen and (max-width: 800px) {
  .test .textBox img {
    margin: auto;
    float: none;
    display: block;
  }
}
.test .textBox blockquote {
  margin-top: 1rem;
  text-align: center;
}
.test .textBox span {
  font-size: 1.8rem;
  margin-right: 15px;
}
@media only screen and (max-width: 800px) {
  .test .textBox span {
    display: block;
  }
}
.test .textBox .title {
  font-size: 1.3rem;
  color: #008eb6;
}
.test .textBox blockquote {
  color: gray;
  font-size: 1rem;
}
@media only screen and (max-width: 800px) {
  .test .textBox blockquote {
    position: relative;
    border-left: 0.2em solid #00b6e9;
    font-size: 2.2em;
    line-height: 1.5em;
    font-weight: 100;
    padding-left: 0.6rem;
    margin-left: 0px;
  }
  .test .textBox blockquote:before,
  .test .textBox blockquote:after {
    content: '\201C';
  }
  .test .textBox blockquote:after {
    content: '\201D';
  }
}
.ourStory {
  padding: 0 25px;
}
.ourStory p {
  line-height: 3rem;
}
@media only screen and (max-width: 800px) {
  .ourStory p {
    text-align: left;
  }
}
.ourStory a {
  font-size: 2rem;
}
.contact {
  text-align: center;
}
.contact .iconContainer {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  margin: 0.8rem;
}
.contact .iconContainer .fa {
  margin-top: 0.5rem;
  font-size: 2rem;
  padding: 0;
}
.contact .iconContainer .fa:hover {
  opacity: 0.7;
}
.contact .facebook {
  background: #3B5998;
  color: white;
}
.contact .twitter {
  background: #55ACEE;
  color: white;
}
.contact .instagram {
  background: #125688;
  color: white;
}
.contact .linkedin {
  background: #007bb5;
  color: white;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #008eb6;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  font-size: 18px;
}
#myBtn:hover {
  background-color: white;
  color: #008eb6;
}
