/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: lightgray;
}
@media (min-width: 700px) {
  body {
    display: flex;
    flex-direction: column;
  }
}
.body {
  margin: 2rem;
  background-color: white;
  border-radius: 12px;
  padding-top: 50%;
  width: 100%;
  height: auto;
}
header {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 12px;
  border: 2px solid #008eb6;
  width: 100%;
  padding-bottom: 1rem;
}
@media (min-width: 700px) {
  header {
    width: 100%;
  }
}
header h1 {
  text-align: center;
  font-size: 3.5rem;
  color: #008eb6;
}
header button {
  align-self: center;
  font-size: 5rem;
  border-radius: 16px;
  background-color: #008eb6;
  color: white;
  margin-top: 5rem;
  padding: 1rem;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container div {
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 5%;
}
.container div h2 {
  font-size: 2.5rem;
  padding: 1rem;
}
.container .new {
  text-align: center;
  font-size: 3.5rem;
}
.container h1 {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  border: 2px solid black;
  padding: 3rem;
  background-color: #008eb6;
  color: white;
  border-radius: 12px;
  text-align: center;
  font-size: 3rem;
}
.container .info {
  display: flex;
  flex-direction: column;
}
.container .info h2 {
  font-size: 3rem;
}
.container .info h3 {
  font-size: 2.5rem;
}
.container .info p {
  font-size: 2rem;
}
.container .info img {
  width: 100%;
  height: auto;
}
footer {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
}
footer button {
  background-color: #008eb6;
  color: white;
  border-radius: 12px;
  width: 10%;
  height: 10%;
}
img {
  width: 100%;
  height: 100%;
}
